.div_add {
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 20px;
  margin-right: 10px;
}

.link_add {
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  height: 30px;
  margin-left: 40%;
  /* float:right; */
  color: blanchedalmond;
  background-color: rgb(21, 138, 76);
}

.link_add:hover{
  background-color: rgb(30, 190, 105);
}
.link_add:focus{
  background-color: rgb(11, 92, 49);
}

.my_articles_link {
  text-decoration: none;
}

.my_articles_home {
  align-content: center;
}