.postsBody {
    display: flex;
    justify-content: space-between;
    width:95%;
}


.mainArea { 
    width:72%;
    margin-top: 10px;
    margin-left: 15px;
    background-color: rgb(236, 229, 245);

}

.sideBar {
    width:25%;
    margin-top: 10px;
    background-color: rgb(158, 226, 215);
}

textarea {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10%;
    border-radius: 10px;
    outline: blueviolet;
    font-size: 15px;
    color: black;
    resize: none;
    border-width: 1px;
    background-color: rgb(231, 190, 128);
}

textarea:focus {
    background-color: rgb(231, 216, 129);
    resize: none;
    border-width: 2px;
    border-color: blueviolet;
}

.savebtn {
    background-color: #b91616;
    color: rgb(249, 250, 251);
    border-radius: 5px;
    font-size: 20px;
    /* margin-top: 3%; */
    padding: 3px 3px;
    float: right;
    margin-right: 20%;
    margin-bottom: 5%;
    /* margin: 8px 0; */
    border: none;
    cursor: pointer;
    width: 15%;
    opacity: 0.9;
  }

.savebtn:focus{
    outline: none;
    opacity: 1.1;
    /* border-radius: 50px; */
    background-color: #850c0c;
}