
textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10%;
  border-radius: 10px;
  outline: blueviolet;
  font-size: 15px;
  color: black;
  resize: none;
  border-width: 1px;
  background-color: rgb(231, 190, 128);
}

textarea:focus {
  background-color: rgb(231, 216, 129);
  resize: none;
  border-width: 2px;
  border-color: blueviolet;
}

.button_add {
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 20px;
  margin-right: 10px;
}

.div_save {
  border-radius: 10px;
  display: block;
  height: 30px;
  width: 5%;
  margin-left: 40%;
  margin-bottom: 4px;
  /* float:right; */
  color: blanchedalmond;
  background-color: rgb(21, 138, 76);
}

.div_save:hover {
  background-color: rgb(30, 190, 105);
}
.div_save:focus {
  background-color: rgb(11, 92, 49);
}
