.myImage {
    margin-left: 35%;
    width: 300px;
    margin-top: 10px;
    border-radius: 20%;
    display: inline;
}

.about_page {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
    margin-top: 5px;
    color:darkgrey;
    display: inline-block;
    padding: 40px;
    border-radius: 10px;
    margin-left: 5%;
    align-content: center;
    margin-bottom: 5%;
    background-color: rgb(7, 18, 47);
}

.my_name_about {
    padding: 10px;
    padding-left: 300px;
    width: 60%;
    display: inline;
    font-size: 40px;
    background-color: darkslategrey;
    color: gainsboro;
}