.mainCard {
  color: rgb(0, 0, 0);
  border-radius: 20px;
  justify-content: space-between;
  margin-top: 20px;
  background-color: rgba(230, 217, 236, 0.897);
  margin-left: 20px;
  margin-right: 20px;
  text-decoration-line: none;
  display: block;
  width: 94%;
  height: 170px;
  /* align-content: center; */
}

.title_mainCard {
  font-weight: 700;
  font-family: "Arvo" sans-serif;
  font-size: 25px;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 2%;
  color: rgb(46, 39, 29);
}

.author_mainCard {
  display: inline;
  margin-left: 3%;
  text-align: left;
  font-size: 13px;
  font-style: italic;
  color: rgb(63, 53, 11);
}

.mainCard:hover {
  background-color: rgba(255, 255, 255, 0.897);
  box-shadow: 0 4px 8px 0 rgba(251, 248, 248, 0.808), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainCard:active {
  background-color: rgba(16, 21, 88, 0.897);
}

.timestamp_mainCard {
  display: inline;
  margin-right: 10%;
  float: right;
  font-size: 15px;
  font-style: italic;
  color: rgb(70, 60, 23);
}

.content_mainCard {
  margin-left: 5%;
  margin-right: 5%;
  /* text-decoration-line: none; */
  font-family: "Shippori Mincho B1", serif;
  font-size: 17px;
  word-spacing: 5px;
}
