.articleBody {
    width:72%;
    margin-top: 10px;
    margin-left: 15px;
    background-color: rgb(247, 208, 136);
}


.articleBody h1{
    /* font-family: 'Arvo'; */
    font-style: oblique;
    font-size: 42px;
    text-align: center;
}

.articleBody span{
    margin-left: 5%;
    font-weight: 300;
    font-style: italic  ;
}

.articleBody p{
    background-color: rgb(247, 208, 136);
    /* width:105%; */
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Arvo' sans-serif;
    font-size: 21px;
    /* font-weight:200; */
    word-spacing: 5px;
}